@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: #0066FF;   /* Primary (buttons, highlights) */
  --color-text: #1E254F;      /* Main text */
  --color-divider: #CBD5E0;   /* Borders, separators */
  --color-placeholder: #3D466E; /* Placeholder text */
  --color-bg: #FFFFFF;         /* Background */
  --color-active: #E5F1FF;     /* Active conversation, outgoing message */
  --color-muted: #718096;      /* Timestamps, secondary text */
  --color-incoming: #F2F6F9;   /* Incoming message background */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


