@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #0066FF;   /* Primary (buttons, highlights) */
  --color-text: #1E254F;      /* Main text */
  --color-divider: #CBD5E0;   /* Borders, separators */
  --color-placeholder: #3D466E; /* Placeholder text */
  --color-bg: #FFFFFF;         /* Background */
  --color-active: #E5F1FF;     /* Active conversation, outgoing message */
  --color-muted: #718096;      /* Timestamps, secondary text */
  --color-incoming: #F2F6F9;   /* Incoming message background */
}

.border-primary {
  border-color: var(--color-primary)
}

.text-main {
  color: var(--color-text)
}

.border-divider {
  border-color: var(--color-divider)
}

.text-placeholder {
  color: var(--color-placeholder)
}

.bg-default {
  background-color: var(--color-bg)
}
